files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash
      JAR_PATH=/var/app/current/application.jar

      # Set environment variables from Elastic Beanstalk
      for var in $(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]'); do
        export $var
      done

      # Run app
      killall java
      java -Dfile.encoding=UTF-8 -Dspring.profiles.active=prod -jar $JAR_PATH > /var/log/app.log 2>&1 &
